@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --font-archivo: "Archivo", "sans-serif";
    --font-bs: "Big Shoulders Inline", "sans-serif";

    --color-orioles-orange: #F94A13;
    --color-orioles-linen: #F8F4E9;


    --animate-marquee: marquee 25s linear infinite;
    --animate-marquee2: marquee2 25s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(-100%)
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(100%)
        }

        100% {
            transform: translateX(0%)
        }
    }
}