@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --font-archivo: "Archivo", "sans-serif";
    --font-bs: "Big Shoulders Inline", "sans-serif";

    --color-orioles-orange: #F94A13;
    --color-orioles-linen: #F8F4E9;
    --color-dark-charcoal : #333333;
    --color-lavender : #E6E6FA;
    --color-silver : #B1B2B5;
    --color-ptr-blue: #24387D;
    --color-red-linen: #B02E0C;


    --animate-marquee: marquee 25s linear infinite;
    --animate-marquee2: marquee2 25s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(-100%)
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(100%)
        }

        100% {
            transform: translateX(0%)
        }
    }
}

@layer utilities{
    .hide-scrollbar{
        scrollbar-width: none;
    }
}